<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryName</key>
		<string>热门</string>
		<key>categoryTypeCode</key>
		<string></string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_hot</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>手机红人</string>
		<key>categoryTypeCode</key>
		<string>mlive</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_mobile</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>附近</string>
		<key>categoryTypeCode</key>
		<string>location</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_local</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>好声音</string>
		<key>categoryTypeCode</key>
		<string>u0</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_song</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>舞蹈</string>
		<key>categoryTypeCode</key>
		<string>u1</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_dance</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>搞笑</string>
		<key>categoryTypeCode</key>
		<string>u2</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_fun</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>唠嗑</string>
		<key>categoryTypeCode</key>
		<string>u3</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_chat</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>男神</string>
		<key>categoryTypeCode</key>
		<string>male</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_male</string>
	</dict>
</array>
</plist>
