<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryName</key>
		<string>全部</string>
		<key>categoryTypeCode</key>
		<string>u0</string>
		<key>categoryImageName</key>
		<string>live_song_class_all_normal</string>
		<key>categoryImageNameH</key>
		<string>live_song_class_all_highlight</string>
		<key>menuImageName</key>
		<string></string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>炽星</string>
		<key>categoryTypeCode</key>
		<string>r10</string>
		<key>categoryImageName</key>
		<string>live_song_class_blazing_star_normal</string>
		<key>categoryImageNameH</key>
		<string>live_song_class_blazing_star_highlight</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_blazing_star</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>超星</string>
		<key>categoryTypeCode</key>
		<string>r5</string>
		<key>categoryImageName</key>
		<string>live_song_class_super_star_normal</string>
		<key>categoryImageNameH</key>
		<string>live_song_class_super_star_highlight</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_super_star</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>巨星</string>
		<key>categoryTypeCode</key>
		<string>r4</string>
		<key>categoryImageName</key>
		<string>live_song_class_big_star_normal</string>
		<key>categoryImageNameH</key>
		<string>live_song_class_big_star_highlight</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_big_star</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>明星</string>
		<key>categoryTypeCode</key>
		<string>r1</string>
		<key>categoryImageName</key>
		<string>live_song_class_star_normal</string>
		<key>categoryImageNameH</key>
		<string>live_song_class_star_highlight</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_star</string>
	</dict>
	<dict>
		<key>categoryName</key>
		<string>红人</string>
		<key>categoryTypeCode</key>
		<string>r2</string>
		<key>categoryImageName</key>
		<string>live_song_class_little_star_normal</string>
		<key>categoryImageNameH</key>
		<string>live_song_class_little_star_highlight</string>
		<key>menuImageName</key>
		<string>live_list_menu_button_live_little_star</string>
	</dict>
</array>
</plist>
